html {
    height: 100%;
  }

body {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background: transparent linear-gradient(180deg, rgb(141, 152, 218) 0%, #10c2b9 100%) 0% 0% repeat padding-box;
}

.container {
    margin: 0;
    max-width: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: inherit;
    align-items: center;
    background: transparent linear-gradient(180deg, rgb(141, 152, 218) 0%, #10c2b9 100%) 0% 0% repeat padding-box;

}

form {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 30%;
    justify-content: center;
}

form > input {
    padding-left: 0.5em;
    margin: 0 1em 1em 1em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 2em;

    /* font */
    color: #2699FB;
    line-height: 2.5em;
    font-size: 1em;
}
button {
    margin: 0 1em 1em 1em;
    color: white;
    background: #266DFB 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2em;
    border: none;

    line-height: 2.5em;
    font-size: 1em;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    align-items: center;
}
.flex2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: inherit;
    align-items: center;
}
.col6{
    width: 100%;
}
#asd{
width: 50%;
}
#asdqwe{
    width: 30%;
}
.flex > button{
     margin: 0 1em 1em 1em;
    color: white;
    background: #266DFB 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2em;
    border: none;
    width: 80%;
    line-height: 2.5em;
    font-size: 1em;
} 
div > input {
    padding-left: 0.5em;
    margin: 0 1em 1em 1em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 2em;

    width: 80%;
    /* font */
    color: #2699FB;
    line-height: 2.5em;
    font-size: 1em;}
textarea{
        padding-left: 0.5em;
        margin: 0 1em 1em 1em;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #BCE0FD;
        border-radius: 2em;
        width: 80%;
        /* font */
        color: #2699FB;
        line-height: 2.5em;
        font-size: 1em;}
#addexp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:auto;
    align-items: center;

}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.logo > img {
    width: 12.5em;
}

.messages {
    color: white;
    text-align: center;
    margin-bottom: 0.4em;
}

.navbar-font-color {
    color: rgba(255,255,255,.5);
}

@media only screen and (max-device-width: 992px){
    html {
        height: 100%;
      }
    body {
        font-size: 48px;
        min-height: 100%;
        background: transparent linear-gradient(180deg, rgb(141, 152, 218) 0%, #10c2b9 100%) 0% 0% repeat padding-box;
    }
    .nav-item{
        font-size: 40px;
        flex-direction: row;
    }
    .container {
        flex-direction: column;
    }
    .zxc{
        justify-content: center;
        width: 100%;
        height: 60%;
        scale: 1.5;
    }
    #asdqwe{
        width: 80%;
        height: 50%;
    }
    .mychart{
        height: 50%;
        width: 80%;
    }
    .flex{
        display: flex;
        justify-content: center;
        flex-direction: column;}

    form {
        width: 100%;
    }

    .logo > img {
        width: 7.5em;
    }
}


@media screen and (max-width: 600px) {
    html {
        height: 100%;
      }
    body {
        font-size: 18px;
        min-height: 100%;
        background: transparent linear-gradient(180deg, rgb(141, 152, 218) 0%, #10c2b9 100%) 0% 0% repeat padding-box;
    }
    .container {
        flex-direction: column;
    }

    form {
        width: 100%;
    }

    .logo > img {
        width: 7.5em;
    }
}