body {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    margin: 0;
    max-width: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: inherit;
    align-items: center;
    background: transparent linear-gradient(180deg, rgb(141, 152, 218) 0%, #10c2b9 100%) 0% 0% repeat padding-box;
}

form {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 30%;
    justify-content: center;
}
.flex{display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    align-items: center;
    width: 100%;

}
div > input {
    padding-left: 0.5em;
    margin: 0 1em 1em 1em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 2em;
    width: 80%;
    /* font */
    color: #2699FB;
    line-height: 2.5em;
    font-size: 1em;
}
button {
    margin: 0 1em 1em 1em;
    color: white;
    background: #266DFB 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2em;
    border: none;
    width: 80%;
    line-height: 2.5em;
    font-size: 1em;
}



.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.logo > img {
    width: 12.5em;
}

.messages {
    color: white;
    text-align: center;
    margin-bottom: 0.4em;
}

.navbar-font-color {
    color: rgba(255,255,255,.5);
}

@media only screen and (max-device-width: 992px){
    body {
        font-size: 48px;
        height: unset;
    }
    .nav-item{
        font-size: 40px;
        flex-direction: row;
    }
    .container {
        flex-direction: column;
    }

    .flex{display: flex;
        justify-content: center;
        flex-direction: column;}

    form {
        width: 100%;
    }

    .logo > img {
        width: 7.5em;
    }
}


@media screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }
    .container {
        flex-direction: column;
    }

    form {
        width: 100%;
    }

    .logo > img {
        width: 7.5em;
    }
}